body {
    line-height: 1.8;
    color: #818181;
    background-color: #f0f0f0;
    font-family: 'Oswald', sans-serif;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .jumbotron {
   background-image: url(../Images/build.jpg);
    color: #fff;
    padding: 200px 25px;
  }

  .jumbotron h1{
    font-weight:900;
  }

  .media{
    color: #000;
    font-size: 20px;
    padding: 10px 20px; 
    margin: 10px;
    background: white;
    border-radius: 100%;
  }

  .media:hover{
    color: red;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #185ADB;
    font-size: 50px;
  }
  .logo {
    color: #185ADB;
    font-size: 200px;
  }
  .thumbnail { 
    padding: 0 0 15px 0;
    

  }
  .pastorThumbnail{
    width: 108.86px !important;
    height: 300px !important;
  }
 

  .thumbnail img {
    width: 60%;
    height: 200px;
    padding-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #185ADB;
  }
  .carousel-indicators li {
    border-color: #185ADB;
  }
  .carousel-indicators li.active {
    background-color: #185ADB;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #185ADB; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #185ADB;
    background-color: #fff !important;
    color: #185ADB;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #185ADB !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #185ADB;
    color: #fff;
  }
  /* .navbar-header{
      width: 40%;
  } */

  .navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
    .nav-brand{
        width: 33%;
    }
  .navbar-nav>li>a{
    padding-top: 25px;
    padding-bottom: 20px;
    } 
  .navbar li a, .navbar .navbar-brand {
    color: #185ADB !important;
    font-weight: bold;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0A1931 !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #185ADB;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

  #mapid { height: 450px; }

  .footer{
    background-color: #fff;
  }

  .aboutImg{
    width: 100%;
    height: 100%;
  }

  .eventImg{
   width: 500px;
   height: 300px;
  }

  
.container.gallery-container {
  color: #35373a;
  min-height: 100vh;
  padding: 30px 50px;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 25px auto;
  font-size: 18px;
  color: #999;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 411px) {
    .logo {
      font-size: 150px;
    }
    .eventImg{
      width: 300px;
      height: 200px;
    }
    .hiddenclass{
      display: none;
    }
   
  

  }


